.container {  
  padding: 20px;
  margin: 100px auto 0;  
}

.heading {
  text-align: center;
  margin-bottom: 36px;
}

.formContent {
  display: flex;
  flex-direction: column;
  max-width: 585px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 75px 150px 46px;
  margin: 0 auto;
}

.redirectText {
  margin-top: 35px;
}
