@import './assets/normalise.css';

* {  
  box-sizing: border-box;
}

ul, li {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 10px;
  --font-primary: "Open Sans", sans-serif;
    
  --color-primary: #007298;
  --color-secondary: #333E48;

  --text-dark: #000;
  --text-main: #333E48;

  --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);  
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--font-primary);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-main);
  background-color: #f7f7f7;
}

.wrapper {
  width: 100%;
  max-width: 1162px;
  min-width: 320px;  
  padding: 0 20px;
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;  
}

.user-actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 71px 0 33px;
}

image {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 768px) {
  .flex-wrapper,
  .user-actions-wrapper {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 575px) {
  :root {
      font-size: 8px;
  } 
   
  .wrapper {
      padding: 0 8px;
  }
}